@{
    ViewBag.Title = "Opps...";
}
<div class="container m-1 m-sm-1 m-md-5 m-lg-5 m-xl-5">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="text-center font-weight-bold">
                <h1>@ADAA.Resources.Validation.ErrorMessage</h1>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mt-5 mt-md-0 mt-lg-0 mt-xl-0">
            <img src="~/Assets/wentWrong.jpg" alt="Unhappy" width="150" height="auto" class="mx-auto d-block" />
        </div>
    </div>
</div>

