body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

header.masthead {
    background: url('../Assets/cover.png') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header.masthead > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}    

h1.display-1 {
    font-size: 3rem;
}

h2.display-4 {
    font-size: 2rem;
}

.memebership-Title {
    font-size: 1.3rem;
}

@media (min-width: 992px) {
    header .masthead > .overlay {
        padding: 10rem 0;
    }
    h1.display-1 {
        font-size: 5rem;
    }
    h2.display-4 {
        font-size: 3rem;
    }
    .border-two-side {
        border-right: 1px solid gray;
        border-left: 1px solid grey;
    }
}

.fix {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (max-width: 991px) {
    .border-two-side {
        border-top: 1px solid gray;
        border-bottom: 1px solid grey;
    }
}

.navbar-collapse.collapse.in {
    display: block !important;
}